#pagetop {
    display: flex;
    height: 50px;
    flex-direction: row;
}

#pagetop-about {
    background-color: yellow;
    width: 25%;
    height: 25%;
}

#pagetop-store {
    background-color: red;
    width: 25%;
    height: 25%;
}

#pagetop-gmail {
    background-color: brown;
    width: 25%;
    height: 25%;
}

#pagetop-images {
    background-color: green;
    width: 25%;
    height: 25%;
}